        <!--    
      
      <p>
        To include the analytics in your site at the following tag to your page:
        <pre><code><script>document.write('&ltimg src="' + document.location.origin + '/counter.png?fallback=MY_WEBSITE&color=black" alt="" style="vertical-align: bottom;" aria-hidden="true"&gt;');</script></code></pre>
        Counter: <script>document.write('<img src="' + document.location.origin + '/counter.png?color=teal&fallback=Adalytics" alt="" aria-hidden="true" style="vertical-align: bottom;">');</script>
      </p>
        -->